@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  color: #f2f2f2;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
nav {
  background: #222222;
  padding: 10px 40px 10px 70px;
  border: 1px solid #000;
  border-left: none;
  border-right: none;
}
nav ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li.logo {
  flex: 1;
  font-size: 30px;
  font-weight: 700;
}
nav ul div.items {
  padding: 0 25px;
  display: inline-flex;
}
nav ul div.items a {
  text-decoration: none;
  font-size: 18px;
  padding: 0 12px;
}
nav ul div.items a:hover {
  color: cyan;
}
nav ul .search-icon {
  height: 40px;
  width: 240px;
  display: flex;
  background: #f2f2f2;
  border-radius: 5px;
}
nav ul .search-icon input {
  height: 100%;
  width: 200px;
  border: none;
  outline: none;
  padding: 0 10px;
  color: #000;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
}
nav ul .search-icon .icon {
  height: 100%;
  width: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #cccccc;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
nav ul .search-icon .icon:hover {
  background: #e6e6e6;
}
nav ul .search-icon .icon span {
  color: #222222;
  font-size: 18px;
}
nav ul li.btn {
  font-size: 29px;
  flex: 1;
  padding: 0 40px;
  display: none;
}
nav ul li.btn span {
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 1px solid #151515;
  border-radius: 5px;
  cursor: pointer;
}
nav ul li.btn span.show:before {
  content: "\f00d";
}
@media screen and (max-width: 1052px) {
  nav {
    padding: 10px 40px 10px 0px;
  }
  nav ul li.logo {
    display: none;
  }
  nav ul div.items {
    flex: 4;
  }
}
@media screen and (max-width: 800px) {
  nav ul li.btn {
    display: block;
  }
  nav {
    z-index: 1;
    padding: 9px 40px 9px 0;
  }
  nav ul div.items {
    z-index: -1;
    position: fixed;
    top: -220px;
    right: 0;
    width: 100%;
    background: #222222;
    display: inline-block;
    transition: top 0.4s;
  }
  nav ul div.items.show {
    top: 60px;
  }
  nav ul div.items li {
    text-align: center;
    line-height: 30px;
    margin: 30px 0;
  }
  nav ul div.items li a {
    font-size: 19px;
  }
}
@media screen and (max-width: 405px) {
  nav ul {
    flex-wrap: nowrap;
  }
  nav ul li.search {
    width: 50vmin;
  }
  nav ul li input {
    width: 40vmin;
  }
  nav ul li .search-icon {
    width: 10vmin;
  }
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 0 40px;
  z-index: -2;
}
.content .text {
  font-size: 40px;
  font-weight: 800;
  padding: 5px 0;
  color: #202020;
}
.content .p {
  font-size: 28px;
  font-weight: 600;
  color: #202020;
}
body {
}
#sec1 {
  background: url("../img/img.jpg") no-repeat center center/cover;
  height: 90vh;
  text-align: center;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  display: flex;
  text-align: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.p1 {
  color: #000000;
  font-size: 1rem;
  font-family: "Anton", sans-serif;
}
.h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
  border: 2px solid #000000;
}
.h11 {
  margin-bottom: 1rem;
  font-size: 3rem;
 
}
.h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #000000;
  border: 2px solid #000000;
}
.h22{
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #000000;
  padding: 2%;
  border: 2px solid #000000;
}
#sec2 {
  background: url(../img/img2.jpg) no-repeat;
  height: 90vh;
  width: 500px;
  padding-left: 0%;
  position: left;
  text-align: center;
  display: flex;
  align-items: center;
}
#tet {
  position: relative;
  left: 750px;
}
.btn {
  font-size: 1.5rem;
  padding: 10px 20px;
  background-color: #202020;
  border: none;
  text-decoration: none;
}
.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.col {
  width: 50%;
  padding: 5px;
}
.col img {
  width: 400px;
  height: auto;
  margin: auto;
  display: block;
}
#sec3 {
  padding: 50px 0px;
}
.pp {
  color: #000000;
  font-size: 1rem;
  font-family: "Anton", sans-serif;
  border: 2px solid #000000;
  line-height: 1.5;
  padding: 25px;
  text-align: justify;
}

.image1 {
  background: url("../img/xx.jpg") no-repeat center center/cover;
  width: 100%;
  padding-top: 65%;
  margin-bottom: 1rem;
}
.image2 {
  background: url("../img/xxx.jpg") no-repeat center center/cover;
  width: 100%;
  padding-top: 65%;
  margin-bottom: 1rem;
}
.image3 {
  background: url("../img/xxxx.jfif") no-repeat center center/cover;
  width: 100%;
  padding-top: 65%;
  margin-bottom: 1rem;
}
.image {
  background: url("../img/aa.jpg") no-repeat center center/cover;
  width: 100%;
  padding-top: 65%;
  margin-bottom: 1rem;
}
.imagee {
  background: url("../img/bb.jpg") no-repeat center center/cover;
  width: 100%;
  padding-top: 65%;
  margin-bottom: 1rem;
}
.imageee{
  background: url("../img/cc.jpg") no-repeat center center/cover;
  width: 100%;
  padding-top: 65%;
  margin-bottom: 1rem;
}
.form12 {
  width: max-content;
  margin: 0 auto;
  padding: 10px;
  border-radius: 7px;
  color: #000000;
}
.img {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border: 0;
}
#form {
  display: flex;
  text-align: center;
  justify-content: center;
}
#sec {
  display: flex;
  text-align: center;
  justify-content: center;
}
.form-titre {
  background-color: rgb(233, 30, 30);
  width: max-content;
  margin: 0 auto;
  padding: 10px;
  border-radius: 7px;
  color: #fff;
}
.img {
  display: block;
  width: auto;
  margin-left: auto;
  margin-right: auto;

  border: 0;
}
.bg-black {
  background-color: #000000 !important;
                            
}
.x {
  display: flex;

  justify-content: center;
}
#form .container {
  width: 100%;
  padding: 10px;
}
.col-lg-4 {
  width: 33.33%;
  padding: 10px;
}
.p2 {
  color: #000000;
  font-size: 2rem;
  font-family: "Anton", sans-serif;
  
}
*{
  margin: 0;
  padding: 0;
  font-family: "montserrat" , sans-serif;
}
.contact-section h1{
  text-align: center;
  color: #000;

  
}
.border{
  width: 100px;
  height: 10px;
  margin: 40px auto;
}
.contact-form{
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}
.contact-form-text{
  display: block;
  width: 100% ;
  box-sizing: border-box;
  margin: 10px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #dddddd;
  transition: 0.5s;

}
.contact-form-text:focus{

box-shadow: 0 0 10px 4px #34495e ;
}
textarea.contact-form-text{
  resize: vertical;
  height: 120px;

}
.contact-form-btn{
 
  border: 0;
  background: #34495e ;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
  margin: 0 auto;
  display: block;
  

}
.contact-form-btn:hover {
  background: #2980b9;

}
#ft{
  background-color: black;
}
.po{
  align-items: center;
  justify-content: center;
  display: flex;
}
footer{
  padding: 20px;
  background-color: #000;
  text-align: center;
}